#answerOverlay {
  z-index: 1;
  background-image: url("https://www.wallcovering-wallpaper.com/images/products/96-FG257024_z.jpg");
  /* position: relative; */
}

#answerButtons {
  z-index: -1
}

.makeDark {
  display: none;
}

body {
font-family: 'Cinzel', serif;
background-image: url("https://www.imgbase.info/images/safe-wallpapers/miscellaneous/fantasy/52058_fantasy_fantasy_landscape.jpg");
background-size: cover;
}

#questionOverlay {
  background-image: url("https://www.wallcovering-wallpaper.com/images/products/96-FG257024_z.jpg");
}

#endScreen {
  background-image: url("https://www.wallcovering-wallpaper.com/images/products/96-FG257024_z.jpg");
}
